---
---

@import "minima";

h1 {
  font-size: 3em;
  line-height: 1.1;
  letter-spacing: -1px;
}

.site-title {
  font-size: 1.4em;
  font-weight: bold;
}

.post-content, .page-content {
  font-size: 1.05em;
  line-height: 1.8;
}